# Ignore dataset folder
/dataset/
/data/
/backup/
/api_test_results/

# Ignore internal test files
test_api.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env
.env.development
.env.production

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# DuckDB files
*.duckdb
*.duckdb.wal

# dbt files
/app/dbt/target/
/app/dbt/logs/
/app/dbt/dbt_packages/

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db
.vercel
